h1 {
    text-align: center;
    font-size: 40px;
}
h2 {
    font-size: 30px;
}

body {
    background-color: lightcyan;
    color: darkcyan;
}

.container { 
    border-collapse: collapse;
    border-color: grey;
    border-spacing: 0;
    margin: 0px auto;
}

.container th {
    background-color: darkcyan;
    color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    padding: 5px 5px;
    font-size: 30px;
}
.container td {
    background-color: lightcyan;
    border-color: lightslategrey;
    border-style: solid;
    border-width: 1px;
    font-size: 20px;
    overflow: hidden;
    padding: 5px 5px;
    word-break: normal;
}
  
.filter {
    font-size: 15px;
}

.clock {
    margin: 0;
    position: absolute;
    left: 2%;
    top: 3%;
    -ms-transform: translate(-1%, -1%);
    transform: translate(-1%, -1%);
}

input[type="button"] {
    background-color: cyan;
    margin: 10px auto;
    padding: 10px;
}

