h1 {
    text-align: center;
    font-size: 35px;
}
h2 {
    font-size: 25px;
}

body {
    background-color: lightcyan;
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}

.mainTable { 
    border-collapse: collapse;
    border-color: grey;
    border-spacing: 0;
    margin: 0px auto;
    margin-top: 10px;
}
.mainTable th {
    background-color: darkcyan;
    color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    padding: 5px 5px;
    font-size: 30px;
}
.mainTable td {
    background-color: lightcyan;
    border-color: lightslategrey;
    border-style: solid;
    border-width: 1px;
    font-size: 20px;
    overflow: hidden;
    padding: 5px 5px;
    word-break: normal;
}

.bottomBoxes {
    font-size: 15px;
    height: 30px;
    width: 200px;
}

.filter {
    font-size: 12px;
    background-color: darkcyan;
    color: white;
}

.delete {
    font-size: 10px !important;
    height: 20px !important;
    width: 20px !important;
    margin: 0px auto !important;
    padding: 0px !important;
}

.clock {
    margin: 0;
    position: absolute;
    left: 2%;
    top: 3%;
    -ms-transform: translate(-1%, -1%);
    transform: translate(-1%, -1%);
    font-size: 20px;
    color: darkslategrey;
}

input[type="button"] {
    background-color: darkcyan;
    color: white;
    margin: 10px auto;
    padding: 10px;
    font-size: 15px;

    left:50%;
}

